.app {
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 95vh;
   width: 100%;
   align-items: center;
   background-color: #008FFC;
}
h1 {
   color: #1100FC;
   margin: 10px 0;
}